{% extends 'base.html.twig' %}
{% block title %}Task List{% endblock %}
{% block body %}
    <div>
        <p style="color:red;">Error during connection to Google</p><br>
        <a href="{{ path("homepage") }}">Page d'accueil</a>
    </div>

{% endblock %}