{% extends 'base.html.twig' %}
{% block title %}Home {% endblock %}

{% block body %}

    <div class="row home_choice">
        <div class="col-md-12">
            Login via
            <div class="social-buttons">
                <a href="{{ path('google_task_api_homepage') }}" id='googletask' class="btn btn-go btn-block">Google +</a>
            </div>
            or

            <div class="social-buttons">
                <a href="{{ path('todo_list_homepage') }}" id='todolist' class="btn btn-tdl btn-block">Default ToDoList</a>
            </div>
        </div>
    </div>
{% endblock %}
