parameters:
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     symfony
    database_user:     root
    database_password: password

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Google api bundle parameters
    application_name:       TODO-List Project
    oauth2_client_id:       ~
    oauth2_client_secret:   ~
    oauth2_redirect_uri:    http://127.0.0.1:8000/
    developer_key:          ~
    site_name:              todolist-project.fr