
{% extends 'base.html.twig' %}
{% block title %}Home {% endblock %}
{% block body %}

    <div class="row">
        <h1 style="text-align:center;">Update TaskList</h1>
        <br/>
        <div class="center-block col-md-2 list-group-item-text" style="float: none;">
            <div>
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}