<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
            <br/>
            <p style="text-align:center">Google Task list project using symfony - Pierre CHARLES & Julien BRAT - Auvergne University - 2016</p>
            <br/>
            <br/>
        </div>
    </nav>
</div>